/* body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.calculator{
    max-width: 500px;
    width: 400px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 20px;
    
}

.display{
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #2A628F;
    font-size: 40px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.displayOne{
    height: 50px;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 20px;
    
}

.displayTwo{
    height: 50px;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    /* flex-direction: ; */
    /* padding-bottom: 20px; */
    padding-right: 20px; 
    font-size: 40px;

}


.calculator input{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: right;
    
}

.calcBtns{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 0px;
}

#clear{
    grid-column: span 2;
}

#delete{
    grid-column: span 2;
}

.btn,
.btnOperator,
.btnEquals{
    font-size: 25px;
    padding: 20px;
}

.btn,
.btnDecimal,
.btnEquals{
    background-color: #2A628F;
    color: white;
}


button{
    font-family: 'Chakra Petch', sans-serif;
}
.btn:hover,
.btnDecimal:hover,
.btnEquals:hover,
.btnOperator:hover,
.btnClear:hover,
.btnDel:hover{
    background-color: #b0d2d6;
    color: black;
}

.btnOperator{
    background-color: #128996;
    color: white;
}

.btnClear,
.btnDel{
    background-color: #128996;
    color: white;
    font-size: 20px;
}

.btnDecimal{
    font-size: 30px;
}